<div class="testimonial-area">
		{% if site.data.testimonials.show_testimonials_section == true %}
			<div class="testimonial-container">
				<div class="testimonial-navigation">
		  		<a class="testimonial-btn prev"><i class="fa fa-arrow-left"></i></a>
		  		<a class="testimonial-btn next"><i class="fa fa-arrow-right"></i></a>
				</div>
				<div id="owl-carousel" class="owl-carousel">
		      {% for item in site.data.testimonials.testimonial %}

						<div class="item-container">
							<div class="item">
								<img src="/img/header/001.jpg" class="carousel-pic">

							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}
</div>
